.footer {
  height: 308px;
  background: $red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__sociale {
    display: block;
    position: relative;
    padding: 28px;
    transition: 0.3s;

    a {
      margin-right: 12px;

      img {
        width: 36px;
        height: 36px;
      }

      :hover {
        width: 36px;
        height: 36px;
        background-image: url(../images/footer1-1.png);
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 25px);
      width: 50px;
      height: 2px;
      background: $white;
    }
  }

  p {
    padding: 28px;
    font: $font-roboto;
    font-size: 12px;
    color: $white;
  }
}
