.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
  }

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  &__navigation {
    a {
      padding-left: 30px;
      color: white;
    }
  }
  &__captions {
    margin: 0 auto;
    width: 592px;
    height: 190px;
    text-align: center;
    padding-top: 120px;

    h1 {
      color: white;
      font-size: 48px;
      font-weight: 400;
    }

    p {
      color: white;
      font-size: 20px;
      font-family: $font-roboto;
      padding: 30px 0;
    }

    .button {
      padding: 50px 0;
      margin: 0 auto;
      width: 184px;
      height: 52px;
    }

    a {
      cursor: pointer;
      transition: 0.4s;
      border: 2px solid white;
      padding: 15px 30px;
      font-family: $font-montserrat;
      font-size: 16px;
      font-weight: 400;
      color: #c0301c;

    }

    a:hover {
      color: #c0301c;
      background: white;
    }
  }

}