.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: $font-montserrat;
  transition: 0.3s;
  z-index: 5;

  &__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: $font-color-banner;

    @include screen(750) {
      position: fixed;
      justify-content: space-between;
      align-items: flex-end;
      // top: 0;
      // left: 0;
      // padding: 30px;
    }
  }

  @include screen(1200) {
    padding-left: 15px;
  }

  &__container {
    padding-top: 35px;
    padding-bottom: 33px;
  }

  &.sticky {
    background: $red;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*&__menu {
    display: none;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-image: url(../images/menu.png);
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;

    @include screen(750) {
      display: block;
      background-color: $white;
    }

    &:hover {}
  }*/

  //---
  &__navigation {
    @include screen(750) {
      display: block;
      position: fixed;
      max-width: 170px;
      overflow-y: auto;
      width: 100%;
      padding: 20px;
      margin: 10px 0;
      background: $red;
      box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.75);
      border-radius: 35px 0 0 35px;
      right: -155px;
      top: 0;
      transition: 0.4s;
      cursor: pointer;

      &::after {
        width: 64px;
        height: 64px;
        border-radius: 5px;
        /* background-image: url(../images/cancel.png); */
        position: fixed;
        top: 0;
        right: 0;
        margin: 10px;
      }

      &:hover {
        right: 0;
      }

      a {
        font-size: 18px;
      }
    }
  }

  //---

  &__navigation {
    a {
      margin: 0 14px 0;
      line-height: 1.714;
      letter-spacing: 0.5px;
      color: $font-color-banner;

      &:last-child {
        margin-right: 15px;
      }

      /*
      @include screen(700) {
        display: block;
        margin: 10px auto;
        font: 400 18/1.25 $font-montserrat;
      } */
    }

    /*
    @include screen(700) {

      padding: 30px 0 40px;
      padding-left: 100px;
      position: fixed;
      height: 100vh;
      overflow-y: auto;
      width: 300px;
      right: 0;
      top: 0%;
      background-color: rgb(228, 84, 58);
      text-align: start;


      &.activ {}
    }*/
  }
}
