.paralax {

  &__banner {

    background-size: cover;
    width: 100%;
    min-height: 200px;
    margin-top: -92px;

  }

  &__call {
    text-align: center;
    padding: 0 0 95px;
  }

  &__call-title-30 {
    color: $white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 13px;
    width: 520px;
    height: auto;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;

    @include screen(540) {
      font-style: 24px;
    }
  }

  &__button-call {
    color: $white;
    border: 2px solid $white;
    width: 180px;
    height: 50px;
    font: 400 18px/1.5 $font-roboto;
    text-transform: uppercase;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0);


    &:hover {
      background: $white;
      color: $red;
      transition: .3s;
    }

  }
}