$font-montserrat: 'Montserrat',
Arial,
Tahoma,
sans-serif;
$font-roboto: 'Roboto Slab',
'Times New Roman',
serif;

$font-color: #555;
$grey: #777;
$grey-section: #f8f8f8;
$font-color-header: #fff;
$font-color-banner: #fff;
$red: #c0302c;
$white: #fff;