@import 'variables';
@import 'mixins';
@import '~swiper/swiper.scss';
@import '~swiper/modules/navigation/navigation';
@import '~swiper/modules/pagination/pagination';
@import 'base';
@import 'header';
@import 'main-banner';
@import 'services';
@import 'about';
@import 'work';
@import 'paralax';
@import 'blog';
@import 'client';
@import 'contact';
@import 'footer';